
body, html {
  background-color: #646464 !important;
  font-family: Helvetica, sans-serif;
}
p{
  font-size: 30px;
}  
.formulario{
  padding-top:25%;
  padding-bottom:10%;
  padding-left:5%;
  padding-right:5%;
  height: 100%;
  border: 2px solid  white;
  box-shadow:0px 0px 0px 5px #c1c2c2;
  background-color: #F5F5F5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.btn-login{
  background-color:#009785 !important;
  border:none !important;

}
.btn-login:hover{
  box-shadow: 0px 0px 0px 2px #c1c2c2;
  background-color:#009785 !important;
}
.btn.btn-outline-secondary, .btn.btn-outline-success{
  color:black !important;
}
.btn-outline-secondary.disabled:hover, .btn-outline-secondary:disabled {
  color: #212529  !important;
}
.btn{
  color:white !important;
}
.txtLogo{
  color:#006858;
  margin-bottom: 25px;
}

.enviarTodos{
margin-left: 15px;
}
.containerCorpo h1{
  margin: 20px;
}
.container{
  width: 100% !important;
  padding-right:0px;
  padding-bottom:15px;
  padding:0 !important;
}
.containerCorpo{
  background-color:#F5F5F6; 
  min-height: 590px;
  padding:0px;
  width: 89.5%;
  max-width: 89.5%;
  padding-right: 0px;
  padding-top: 15px;
  margin-right:0px !important;
  margin-left:130px !important;

}
.corpo{
  margin-top:25px;
  padding-top: 5px;
  width: auto;
  height: auto;
  background-color: #F5F5F6;
}
.cabecalho{
  background-color:#646464;
  width: 100%;
  height: auto;
  position: fixed;
  top:0;
  z-index: 9999;
}
.status{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  display:inline-flex;
}
.statusGreen{
  background-color: #43d643;
}
.statusRed{
  background-color: #d64343;
}
.statusOrange{
  background-color: orange;
}
.statusGray{
  background-color: gray;
}
.cabecalho img{
  
    height: 26px;
    margin: 5px;
    margin-left: 7px;
}
.table{
  width: 99.5% !important;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: auto !important;
}
a{
  text-decoration: none !important;
}
th{
  background-color: #006858;
  color: white;
}

.checkAll{
  padding:3px !important;
  padding-left:10px !important;
  text-align: center;
}
.acao{
  text-align: center;
}
tr:nth-child(even){
  background-color: #c1c2c2;
}
tr:hover{
  background-color: #009785;
  color: white;
}
.empurrar{
  margin-bottom: 3px !important;
}
td{
  padding:3px !important;
  padding-left:10px !important;
}

td .btn{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  font-size: 13px;

}

.form-check-input{
  position:relative !important;
}
.formulario .col{
  padding-right: 3px !important;
  padding-left: 3px !important;
}
.App-logo {
  width: 100%;
  height: 35px;
  margin-top:15px;
  margin-bottom:15px;
}

.barraNav{
  width: 125px;
  min-height: 590px;
  position:absolute;
  padding-top: 20px;
  background-color: #c1c2c2;
  font-size: 12px;
}
.subtituloMenu{
  margin:0px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-style: italic;
}
.barraNav a{
  color:black;
  padding:5px;
  
}
.barraNav a:hover{
  background-color: #009785;
  color:white;

}

.titulo h1{
  display: block;
  float: left;
  color:#006858;
}
.titulo {
  width: 100%;
}
.cadastro{
  width: 100% !important;
}
.inputCheio{width: 100% !important;}

.botao button{
  margin-left:15px;
  margin-right:15px;
  width: 100px;
}
.btn-outline-success{
  border-color: #009785 !important;
}
 .btn-outline-success:hover{
  box-shadow: 0px 0px 0px 1px #c1c2c2;
  background-color:#009785 !important;
  color:white !important;
}
.btn-outline-secondary:hover{
  color:white !important;

}
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.2rem #00978593  !important;
}
 .btn-outline-success:not(:disabled):not(.disabled):active{
  color: #fff;
  background-color: #009785 !important;
  border-color: #009785 !important;
}
.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
  
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  height: 20px;
  width: 20px;
}


/* Loading do pacman */

.overlay-content {
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  align-items: center;
  height: 100%;
  justify-content: center;
  position: fixed;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
  flex-direction: column;

}

.overlay-content .wrapper {
  display: inherit;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.overlay-content .wrapper .message {
  margin-top: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 0 2px 5px black;
}

.sk-spinner.pacman > div:nth-child(n+3):nth-child(-n+5) {
  color: white;
  z-index: -1;
}



.flexbox{
  display: flex;  
}

.boxtitle{
  font-size: 16px;
  text-align: center;
  color:#006858;
}

.w-3{
  width: 33.3333%;
}
.w-25{
  width: 25%;
}
.w-50{
  width: 50%;
}
.w-75{
  width: 25%;
}
.w-142857143{
  width: 14.2857143%;
}
.w-full{
  width: 100%;
}
.descriptionbox{
  font-size: 14px;
  padding: 15px;
  margin: 5px;
}
.boxItens{
  max-height: 455px;
  /* overflow: auto; */
}
.boxContainer{
  margin: 8px;
  padding: 15px;
  border:1px dotted lightslategray
}
.boxfields{
  display: flex;
  width: 100%;
  font-size: 12px;
  color: darkslategray;
  padding: 5px;
  border-bottom: 1px solid lightslategray;
}
.boxfields:hover{
  background-color: rgba(145,145,145,0.1);
}
.fieldsLabel{
  text-align: left;
  width: 95%;
}
.fieldsLabelCenter{
  text-align: center;
  width: 95%;
}
.fieldsCheck{
  text-align: center;
  width: 5%;
}
.checkCompetencia{
  margin:0;
  width:14px;
  height:14px;
}
.iconLabel {
  color: darkslategray;
  cursor: pointer;
  font-size: 13px;
}
.disponivelBox{
  border: 1px solid lightgray;
  padding: 15px;
  margin-top: 5px;
}
.competencia {
  background-color: rgb(124, 124, 124);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 4px;
  align-items: center;
  color: white;
}
.manha {
  background-color: rgba(144,238,144);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 4px;
  align-items: center;
  color: darkslategray;
}
.tarde {
  background-color: rgba(240,230,140);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 4px;
  align-items: center;
  color: darkslategray;
}
.noite {
  background-color: rgba(176,196,222);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin-top: 4px;
  align-items: center;
  color: darkslategray;
}
.disponivelDescriptionBox{
  font-size: 13px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.filtroDivSemana{
  width: 100%;
  align-items: center;
}
.filtroInputDisponibilidade{
  width: 100%;
  padding: 15px;
}
.checkSemana{
  margin-left: 10px;
}
.filtroSemanaButtons{
  width: 100%;
  padding: 15px;
  padding-left: 10px;
  padding-top: 0px;
}
.m-5{
  margin: 5px !important; 
}

.fontSmall {
  font-size: 12px;
}

.MuiInput-underline:after{
  border-bottom: 2px solid #006858 !important;
}

.paginacao{
  width: 100%;
  min-height: 35px;
  position: relative;
  bottom: 4px;
}

.paginacao, .paginacao .limitePaginacao{
  display:flex;
  flex-direction: row;
  padding-top: 6px;
  padding-bottom: 6px;
  align-items: center;
  justify-content: flex-end;
}

ul.pagination{
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul.pagination li.page-item.act a.page-link{
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}

ul.pagination li.page-item.active a.page-link{
  color: #445565 !important;
  background-color: #e3e7eb !important;
  border-color: #ced4da !important;
}
ul.pagination a.page-link {
  padding: 0.25rem 0.50rem;
  min-width: 1rem;
  text-align: center;
  box-shadow: none !important;
  border-color: #ced4da !important;
  color: #6b88a4 !important;
  font-weight: 900;
  font-size: 1rem;
  cursor: pointer;
}
ul.pagination a.page-link:hover{
  background-color: #f4f4f4;
}

.div_tabela{
  margin-top: 50px;
}

.barra_menu{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 5px;
  margin-bottom: -10px;
}

.barra_inatividade{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 5px;
  margin-bottom: 10px;
}

@media (min-width: 576px){
  .modal-dialog {
      width: 500px;
      max-width: 900px;
      margin: 1.75rem auto;
  }
}

.btn_modal_unidadeCurricular{
  background-color: transparent;
  text-decoration:underline;
  border: none;
  color:blue;
}
.btn_modal_unidadeCurricular:hover{
  color:rgba(0, 0, 255, 0.7);
}
.btn_modal_unidadeCurricular:focus{
  outline: 0;
}

.corpoTelaInicial{
    padding-top: 15px;
    padding-bottom: 10px;
    width: auto;
    background-color: #F5F5F6;
}

.btn_telaInicial{
  border:none;
  color:blue;
  font-size: 14px;
  text-decoration: underline;
  background-color: transparent;
}

.p_alerta{
  font-size: initial;
  margin: 0px;
  color:#5f5f5f;
}

.caixa_alerta{
  border: thin dashed rgb(255, 93, 93);
  border-radius: 6px;
  padding: 10px;
  text-align: center;
}

.caixa_detalhe{
  border: thin dashed rgb(255, 93, 93);
  border-radius: 6px;
  padding: 10px;
  margin:15px;
}
